<header>
  <img src="http://gravatar.com/avatar/67a6eb9b43b617b2051b912b8373a156?s=120" alt="Thiago Belem" class="avatar">
  <h1>Thiago Belem <span>TiuTalk</span></h1>
  <nav class="social">
    <a href="https://github.com/TiuTalk" target="_blank">GitHub</a>
    <a href="https://twitter.com/TiuTalk" target="_blank">@TiuTalk</a>
    <a href="https://linkedin.com/in/thiagobelem" target="_blank">LinkedIn</a>
    <a href="http://blog.thiagobelem.net" target="_blank">Blog</a>
    <a href="mailto:contato@thiagobelem.net" target="_blank">contato@thiagobelem.net</a>
  </nav>
</header>
