*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #fff;

  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  color: #3a3a3a;
}

h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
}

a, a:visited, a:active {
  text-decoration: none;
  color: $blue;

  &:hover {
    color: darken($blue, 30%);
  }
}

abbr {
  cursor: help;
}

::selection {
  background: $selection;
  color: #000;
}

header {
  margin: 4em 0 3em;

  .avatar {
    border-radius: 15px 0 15px 0;
    display: inline-block;
  }

  h1 {
    font-size: 4em;
    margin: .05em 0 .1em 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.2em;

    span {
      text-transform: none;
      opacity: .2;
      font-size: .8em;
    }
  }

  .social {
    a {
      color: #888;
      &:hover { color: darken(#888, 30%) }

      &:after {
        content: '/';
        margin: 0 .5em;
        opacity: .3;
      }

      &:last-child {
        &:after { display: none }
      }
    }
  }
}

main {
  p { max-width: 800px }
}
