<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <title>{{ site.name }} - {{ site.role }}</title>

  <link href="//fonts.googleapis.com/css?family=Raleway|Oswald" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-128x128.png" sizes="128x128" />
</head>
<body>
  <div class="container">
    {% include _header.html %}

    <main>
      {{ content }}
    </main>
  </div>

  {% include _analytics.html %}
</body>
</html>
